.place__title {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin-right: 40px;
    max-width: 460px;
    width:100%
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
        margin-right: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        margin-right: 28px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 715px) {
    .place__title {
        padding-bottom: 32px;
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        max-width: 288px;
        margin-right: 0;
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px 32px 16px;
    }
}