.photo-grid {
    max-width: 1184px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, 284px); 
    grid-template-rows: repeat(auto-fill, 213px);
    justify-content: center;
    align-content: center;
}

/* @media screen and (max-width: 1024px) {
    .photo-grid {
        padding: 0 16px;
        padding: 0 48px;
        gap: 14px;
        grid-template-columns: repeat(auto-fill, 300px); 
        grid-template-rows: repeat(auto-fill, 225px);
    }
} */

/* @media screen and (max-width: 768px) {
    .photo-grid {
        padding: 0 24px;
        gap: 16px;
        grid-template-columns: repeat(auto-fill, 352px); 
        grid-template-rows: repeat(auto-fill, 264px);
    }
}

@media screen and (max-width: 715px) {
    .photo-grid {
        padding: 0 16px;
        gap: 12px;
        grid-template-columns: repeat(auto-fill, 288px); 
        grid-template-rows: repeat(auto-fill, 216px);
    }
} */