.place__image {
    max-width: 460px;
    max-height: 460px;
    margin-right: 28px;
    /* margin-right: 40px; */
}

/* @media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
        max-height: 440px;
        margin-right: 32px;
    }
} */

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 320px;
        max-height: 320px;
        /* max-width: 340px;
        max-height: 340px;
        margin-right: 28px; */
    }
}

@media screen and (max-width: 715px) {
    .place__image {
        width: 100%;
        align-self: center;
        /* max-width: 320px;
        max-height: 320px; */
        margin-right: 0;
        margin-bottom: 32px;
    }
}