.place {
    display: flex;
    flex-direction: column;
    gap: 48px;
}


@media screen and (max-width:715px) {
    .place {
        align-items: center;
    }
}

@media screen and (max-width: 320px) {
    .place {
        gap: 32px;
        align-items: flex-start;
    }
}