.footer {
    padding-top: 92px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .footer {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 88px 24px 24px 24px;
    }
}


@media screen and (max-width: 320px) {
    .footer {
        padding: 64px 0 24px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
    }
}