.page__container {
    max-width: 1280px;
    padding: 0 48px;
    margin: 0 auto;
    box-sizing: border-box;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .page__container {
    padding: 0;
    }
}